.wrapper {
    margin-top: 2rem;
}

.form {
  width: 350px;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (max-width: 576px) {
  .form {
    width: 300px;
  }
}
